.resources__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  transition: opacity 0.2s linear 0s;
  opacity: 1;
}

.resources__link:hover {
  opacity: 0.2;
}
