.two-columns__paragraph {
  display: inline;
  position: relative;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  box-sizing: border-box;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
