.footer {
  display: flex;
  position: relative;
  background-color: #1f1f1f;
  width: 100%;
  min-height: 350px;
  box-sizing: border-box;
  color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 40px;
}
