.header__title {
  display: flex;
  position: relative;
  justify-content: start;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
  width: 730px;
  box-sizing: border-box;
  font-size: 102px;
  font-style: 600;
  line-height: 96px;
}
